
/* MRT */

.middle_part {
	width: 320px;
	margin: auto;
}

.middle_part h5 {
	display: inline-block;
	max-width: 18%;
	text-align: center;
}

.middle_part .section1 {
	display: inline-block;
	max-width: 50%;
	position: relative;
	top: 10px;
}

.middle_part form {
	display: block;
	margin-top: 3px;
}

.middle_part button {
	display: inline-block;
	max-width: 20%;
	position: relative;
	left: 20px;
	bottom: 10px;
}

.middle_part .section2 {
	display: inline-block;
	width: 80%;
}

.middle_part .w3-tag {
	height: 40px;
	width: 40px;
	display: inline-block;
	text-align: center;
	position: relative;
	bottom: 15px;
}

.middle_part .w3-tag p {
	position: relative;
	top: 10px;
}

#bottom_part img {
	display: block;
	margin-top: 20px;
	margin-bottom: 10px;
	width: 100%;
}

/* route_list */

#route_list {
	width: 320px;
	margin: auto;
	display: none;
	border: solid black;
	text-align: center;
}

#route_list .w3-tag {
	height: 35px;
	width: 35px;
	margin-right: 3px;
	text-align: center;
}

#route_list button {
	display: inline-block;
	margin-top: 3px;
	text-align: center;
}

#route_list p {
	display: inline-block;
	margin: 3px;
}

/* lego_list */

#lego_list {
	width: 320px;
	margin: auto;
	border: solid black;
}

#lego_list h4 {
	text-align: center;
}

#lego_list li {
	margin-bottom: 5px;
}

#lego_list a {
	display: inline-block;
	border: solid 2px;
	margin-right: 5px;
}

#lego_list .w3-tag {
	display: inline-block;
	height: 35px;
	width: 35px;
	text-align: center;
	margin-right: 3px;
}

#lego_list .w3-tag p {
	position: relative;
	top: 8px;
}

/* lego_exchange */

#lego_exchange {
	width: 280px;
	margin: auto;
	text-align: center;
}

#exchange_table {
	width: 280px;
	margin: auto;
	text-align: center;
}

#exchange_table .w3-tag {
	height: 30px;
	width: 60px;
	text-align: center;
}

#exchange_table input {
	width: 50px;
}

#exchange_btn {
	width: 100px;
	margin: auto;
}
