
#team_label {
	width: 180px;
	margin: auto;
	text-align: center;
}

/* MRT */

.middle_part {
	width: 320px;
	margin: auto;
}

.middle_part h5 {
	display: inline-block;
	max-width: 18%;
	text-align: center;
}

.middle_part .section1 {
	display: inline-block;
	max-width: 55%;
	position: relative;
	top: 8px;
}

.middle_part form {
	display: block;
	margin-top: 3px;
}

.middle_part button {
	display: inline-block;
	max-width: 20%;
	position: relative;
	left: 20px;
	bottom: 10px;
}

.middle_part .section2 {
	display: inline-block;
	width: 80%;
}

.middle_part .w3-tag {
	height: 40px;
	width: 40px;
	display: inline-block;
	text-align: center;
	position: relative;
	bottom: 15px;
}

.middle_part .w3-tag p {
	position: relative;
	top: 10px;
}

#bottom_part img {
	display: block;
	margin-top: 20px;
	margin-bottom: 10px;
	width: 100%;
}

/* route_list */

#route_list {
	width: 320px;
	margin: auto;
	display: none;
	border: solid black;
	text-align: center;
}

#route_list .w3-tag {
	height: 35px;
	width: 35px;
	margin-right: 3px;
	text-align: center;
}

#route_list .w3-tag p {
	position: relative;
	top: 5px;
}

#route_list button {
	display: inline-block;
	margin-top: 3px;
	text-align: center;
}

#route_list p {
	display: inline-block;
	margin: 3px;
}

/* lego_list */

.tab-pane {
	width: 320px;
	margin: auto;
	background-color: darkgrey;
}

.tab-pane h4 {
	text-align: center;
}

#lego_list a {
	display: inline-block;
	margin-right: 5px;
	position: relative;
	top: 8px;
	width: 100px;
}

.tab-pane a {
	display: inline-block;
	margin-right: 5px;
	position: relative;
	top: 8px;
}

.tab-pane .w3-tag {
	display: inline-block;
	height: 35px;
	width: 35px;
	text-align: center;
	margin-right: 2px;
}

.tab-pane .w3-tag p {
	position: relative;
	top: 8px;
}

.tab-pane ul .w3-card {
	display: inline-block;
	margin-right: 8px;
	text-align: center;
}

.tab-pane ul .w3-card p {
	position: relative;
	top: 5px;
	width: 150px;
}

/* lego_trade */

#trade_with {
	width: 280px;
	margin: auto;
	text-align: center;
}

#warning {
	width: 280px;
	margin: auto;
}

#trade_table {
	width: 280px;
	margin: auto;
}

#trade_table .w3-tag {
	height: 40px;
	width: 40px;
	text-align: center;
	margin-top: 2px;
}

#trade_table .w3-tag p {
	position: relative;
	top: 10px;
}

#trade_table th > p {
	position: relative;
	top: 10px;
	left: 15px;
}

#trade_table input {
	width: 50px;
	margin-top: 10px;
}

#trade_btn {
	width: 100px;
	margin: auto;
}
