<!DOCTYPE html>
<html ng-app="app">
<head>
  
  <title>Center</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- Important Owl stylesheet -->
  <link rel="stylesheet" href="vendor/owl-carousel/owl.carousel.css">
 
  <!-- Default Theme -->
  <link rel="stylesheet" href="vendor/owl-carousel/owl.theme.css">

  <link rel="stylesheet" href="CSS/style.css">

</head>
  <body>

<!--   <div class="init-animation">
    <p>Microsoft Seed 13th Camp</p>
    <p>台北行<span>_</span></p> 
  </div> -->

  <nav class="navbar title navbar-fixed-top">
    <div class="container">
      <h1 class="col-xs-8 col-xs-offset-2">Microsoft Seed 13th Camp</h1>
      <h4 class="col-xs-1"><a href="map.html">Map</a></h4>
      <h4 class="col-xs-1"><a href="#" class="active">Tables</a></h4>
    </div>
  </nav>

  <div class="container-fuild" style="padding:20px; margin-top:50px" ng-controller="cubeController">
  <div class="col-xs-7">
    <div class="table-background">
    <table class="table">
        <thead>
            <tr>
                <th scope="row" class="team-col">Team</th>
                <th class="red-cube">Red</th>
                <th class="green-cube">Green</th>
                <th class="yellow-cube">Yellow</th>
                <th class="blue-cube">Blue</th>
                <th class="mission">Mission</th>
            </tr>
        </thead>
        <tbody>          
            <tr ng-repeat = "cube in cubes">
                <th scope="row" class="team-col">{{ cube.team }} - {{ cube.teamName }}</th>
                <td class="red-cube">{{ cube.cube2 }}</td>
                <td class="green-cube">{{ cube.cube3 }}</td>
                <td class="yellow-cube">{{ cube.cube4 }}</td>
                <td class="blue-cube">{{ cube.cube5 }}</td>
                <td class="mission">{{ cube.mission }}</td>
            </tr>
        </tbody>            
    </table>
    </div>
    <div class="">
        <div id="mission-carousel">
          <data-owl-carousel class="owl-carousel">
            <div owl-carousel-item="" ng-repeat="mission in missions" class="chart-style">
              <table class="table mission-table" >
                  <thead>
                      <tr>
                          <th scope="row">Mission</th>
                          <th>Position</th>
                          <th>Title</th>
                          <th>Content</th>
                          <th>Picture</th>
                          <th>Hint</th>
                      </tr>
                  </thead>
                  <tbody>          
                      <tr class="mission-height">
                          <th scope="row">{{ mission.id }}</th>
                          <td>{{ mission.position }}</td>
                          <td>{{ mission.title }}</td>
                          <td>{{ mission.content }}</td>
                          <td><img ng-src="{{ mission.picture }}"></td>
                          <td><img ng-src="{{ mission.hint }}"></td>
                      </tr>
                  </tbody>            
              </table>
            </div>
          </data-owl-carousel>
        </div>
    </div>
    </div>

    <div class="col-xs-5">
        <div class="chart-style upper-chart">
          <h4>Total Cube</h4>
          <canvas id="bar" class="chart chart-bar" chart-data="totalCube" chart-labels="labels" >
          </canvas>
        </div>
        <div id="chart-carousel">
          <data-owl-carousel class="owl-carousel">
            <div owl-carousel-item="" ng-repeat="Data in colorCube" class="chart-style">
              <h4>{{Data.title}}</h4>
              <canvas id="bar" class="chart chart-bar" chart-data="Data.data" chart-labels="labels" chart-series="series">
              </canvas>
            </div>
          </data-owl-carousel>
        </div>
    </div>
  </div>

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Bootstrap Core JavaScript -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  <!-- Include js plugin -->
  <script type="text/javascript" src="vendor/owl-carousel/owl.carousel.js"></script>
  
  <script type="text/javascript" src="vendor/angular.min.js"></script>
  <script type="text/javascript" src="vendor/Chart.min.js"></script>
  <script type="text/javascript" src="vendor/angular-chart.min.js"></script>

  <script type="text/javascript" src="scripts/app.js"></script>
  <script type="text/javascript" src="scripts/carouselFix_table.js"></script>
  <script>

  setTimeout(
  function() 
  {
    $(".init-animation").fadeOut(5000);
  }, 6000);
</script>

</script>
</body>
</html>